extends layout

block content
  p hi, #{username} [
    a(href='/questions') back to questions
    |] [
    a(href='/logout') logout
    |]
  p= name
  p View Attempt &nbsp;
    each answers, index in answerslist
      a(href="/answers/" + answers.qid + '/attempts/' + (index + 1) + '/pages/1')= (index + 1)
        
    