extends layout

block content
  p hi, #{username} [
    a(href= attempts_link) back to attempts
    |] [
    a(href='/logout') logout
    |]
  if !error
    p Page #{page} of #{total_pages} &nbsp;
      if previous_action
        a(href= previous_action) previous
      if next_action && previous_action
        |&nbsp;
      if next_action
        a(href= next_action) next
    div(style="border: 1px solid black; position: absolute; z-index: 1")
      img#view-question(src= image_src_qn, width="100%", height="100%")
    div(style="position: absolute; z-index: 2")
      img#view-answer(src= image_src_ans, width="100%", height="100%")
