extends layout

block content
  h1= title
  p Welcome to #{title} [beta]
  form(action="/users", method="post")
    label(for="username") Enter your username: 
    input(type="text" name="username" id="username" required)
    input(type="submit" value="Submit")
  p= message
