extends layout

block content
  p= message
  p hi, #{username} [
    a(href= '/logout') logout
    |]
  
  each questions in questionslist
    p= questions.name
      |&nbsp;[
      a(href= answers_link + '/' + questions._id) View Attempts
      |]
    a(href= '/questions/' + questions.set + '/pages/1')
      img(src= questions.thumbnail)
    br
    