body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#answer.pen {
  cursor: url('../images/icon-pen-512.png'), pointer;
}

#answer.eraser {
  cursor: url('../images/icon-eraser-512.png'), pointer;
}

#pen.enb {
  color: #000000;
}

#pen.disb {
  color: #cccccc;
}

#eraser.enb {
  color: #000000;
}

#eraser.disb {
  color: #cccccc;
}

form {
  display: inline;  
}